# 作業 : (Kaggle)鐵達尼生存預測
***
https://www.kaggle.com/c/titanic

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

data_path = 'data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 69.7+ KB

In [3]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
"""
Your Code Here
"""
df.select_dtypes(include=["object"]).describe()

                       Name   Sex    Ticket        Cabin Embarked
count                   891   891       891          204      889
unique                  891     2       681          147        3
top     Doling, Miss. Elsie  male  CA. 2343  C23 C25 C27        S
freq                      1   577         7            4      644

In [4]:
# 先補闕漏值為一類
df['Cabin'] = df['Cabin'].fillna('No')

In [5]:
# 用Cabin艙等groupby,對Fare做統計值處理
df_FareMax = df.groupby(['Cabin'])['Fare'].max().reset_index()
df_FareMin = df.groupby(['Cabin'])['Fare'].min().reset_index()
df_FareMean = df.groupby(['Cabin'])['Fare'].mean().reset_index()
df_FareMedian = df.groupby(['Cabin'])['Fare'].median().reset_index()
df_FareCount = df.groupby(['Cabin'])['Fare'].count().reset_index()
df_FareMode = df.groupby(['Cabin'])['Fare'].apply(lambda x: x.mode()[0]).reset_index()
temp = pd.merge(df_FareMax, df_FareMin, how='left', on=['Cabin'])
temp = pd.merge(temp, df_FareMean, how='left', on=['Cabin'])
temp = pd.merge(temp, df_FareMedian, how='left', on=['Cabin'])
temp = pd.merge(temp, df_FareCount, how='left', on=['Cabin'])
temp = pd.merge(temp, df_FareMode, how='left', on=['Cabin'])
temp.columns = ['Cabin','FareMax', 'FareMin', 'FareMean', 'FareMedian', 'FareCount',  'FareMode']
temp

     Cabin   FareMax   FareMin    FareMean  FareMedian  FareCount  FareMode
0      A10   40.1250   40.1250   40.125000    40.12500          1   40.1250
1      A14   52.0000   52.0000   52.000000    52.00000          1   52.0000
2      A16   39.6000   39.6000   39.600000    39.60000          1   39.6000
3      A19   26.0000   26.0000   26.000000    26.00000          1   26.0000
4      A20   56.9292   56.9292   56.929200    56.92920          1   56.9292
5      A23   30.0000   30.0000   30.000000    30.00000          1   30.0000
6      A24   50.4958   50.4958   50.495800    50.49580          1   50.4958
7      A26   35.5000   35.5000   35.500000    35.50000          1   35.5000
8      A31   31.0000   31.0000   31.000000    31.00000          1   31.0000
9      A32   50.0000   50.0000   50.000000    50.00000          1   50.0000
10     A34   81.8583   81.8583   81.858300    81.85830          1   81.8583
11     A36    0.0000    0.0000    0.000000     0.00000          1    0.0000
12      A5   34.6542   34.6542   34.654200    34.65420          1   34.6542
13      A6   35.5000   35.5000   35.500000    35.50000          1   35.5000
14      A7   30.6958   30.6958   30.695800    30.69580          1   30.6958
15    B101  512.3292  512.3292  512.329200   512.32920          1  512.3292
16    B102    0.0000    0.0000    0.000000     0.00000          1    0.0000
17     B18   57.9792   57.9792   57.979200    57.97920          2   57.9792
18     B19   33.5000   33.5000   33.500000    33.50000          1   33.5000
19     B20   57.0000   57.0000   57.000000    57.00000          2   57.0000
20     B22   71.0000   71.0000   71.000000    71.00000          2   71.0000
21     B28   80.0000   80.0000   80.000000    80.00000          2   80.0000
22      B3  211.3375  211.3375  211.337500   211.33750          1  211.3375
23     B30   61.9792   61.9792   61.979200    61.97920          1   61.9792
24     B35   69.3000   69.3000   69.300000    69.30000          2   69.3000
25     B37   29.7000   29.7000   29.700000    29.70000          1   29.7000
26     B38   26.5500   26.5500   26.550000    26.55000          1   26.5500
27     B39   49.5000   49.5000   49.500000    49.50000          1   49.5000
28      B4   27.7208   27.7208   27.720800    27.72080          1   27.7208
29     B41   79.2000   79.2000   79.200000    79.20000          1   79.2000
..     ...       ...       ...         ...         ...        ...       ...
118   E121   12.4750   12.4750   12.475000    12.47500          2   12.4750
119    E17   26.5500   26.5500   26.550000    26.55000          1   26.5500
120    E24   26.2875   26.2875   26.287500    26.28750          2   26.2875
121    E25   26.3875   26.2875   26.337500    26.33750          2   26.2875
122    E31   61.1750   61.1750   61.175000    61.17500          1   61.1750
123    E33   55.0000   55.0000   55.000000    55.00000          2   55.0000
124    E34  134.5000  134.5000  134.500000   134.50000          1  134.5000
125    E36   56.9292   56.9292   56.929200    56.92920          1   56.9292
126    E38   26.5500   26.5500   26.550000    26.55000          1   26.5500
127    E40  134.5000  134.5000  134.500000   134.50000          1  134.5000
128    E44   55.9000   55.9000   55.900000    55.90000          2   55.9000
129    E46   51.8625   51.8625   51.862500    51.86250          1   51.8625
130    E49   83.1583   83.1583   83.158300    83.15830          1   83.1583
131    E50   55.4417   55.4417   55.441700    55.44170          1   55.4417
132    E58   25.5875   25.5875   25.587500    25.58750          1   25.5875
133    E63   38.5000   38.5000   38.500000    38.50000          1   38.5000
134    E67   79.6500   79.6500   79.650000    79.65000          2   79.6500
135    E68   79.6500   79.6500   79.650000    79.65000          1   79.6500
136    E77   10.5000   10.5000   10.500000    10.50000          1   10.5000
137     E8   53.1000   53.1000   53.100000    53.10000          2   53.1000
138  F E69   22.3583   22.3583   22.358300    22.35830          1   22.3583
139  F G63    7.6500    7.6500    7.650000     7.65000          1    7.6500
140  F G73    7.6500    7.6500    7.650000     7.65000          2    7.6500
141     F2   26.0000   26.0000   26.000000    26.00000          3   26.0000
142    F33   13.0000   10.5000   11.333333    10.50000          3   10.5000
143    F38    7.7500    7.7500    7.750000     7.75000          1    7.7500
144     F4   39.0000   39.0000   39.000000    39.00000          2   39.0000
145     G6   16.7000   10.4625   13.581250    13.58125          4   10.4625
146     No  512.3292    0.0000   19.157325    10.50000        687    8.0500
147      T   35.5000   35.5000   35.500000    35.50000          1   35.5000

[148 rows x 7 columns]

In [6]:
df = copy.deepcopy(df)
df = pd.merge(df, temp, how='left', on=['Cabin'])
df = df.drop(['Cabin'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FareMax,FareMin,FareMean,FareMedian,FareCount,FareMode
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,512.3292,0.0000,19.157325,10.5000,687,8.0500
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,71.2833,71.2833,71.283300,71.2833,1,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,512.3292,0.0000,19.157325,10.5000,687,8.0500
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,53.1000,53.1000,53.100000,53.1000,2,53.1000
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,512.3292,0.0000,19.157325,10.5000,687,8.0500

In [7]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

11 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'FareMax', 'FareMin', 'FareMean', 'FareMedian', 'FareCount', 'FareMode']

,Pclass,Age,SibSp,Parch,Fare,FareMax,FareMin,FareMean,FareMedian,FareCount,FareMode
0,3,22.0,1,0,7.2500,512.3292,0.0000,19.157325,10.5000,687,8.0500
1,1,38.0,1,0,71.2833,71.2833,71.2833,71.283300,71.2833,1,71.2833
2,3,26.0,0,0,7.9250,512.3292,0.0000,19.157325,10.5000,687,8.0500
3,1,35.0,1,0,53.1000,53.1000,53.1000,53.100000,53.1000,2,53.1000
4,3,35.0,0,0,8.0500,512.3292,0.0000,19.157325,10.5000,687,8.0500

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [8]:
# 原始特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
# 沒有新特徵的 dataframe 稱為 df_minus
df_minus = df.drop(['FareMax', 'FareMin', 'FareMean', 'FareMedian','FareCount','FareMode'] , axis=1)
train_X = MMEncoder.fit_transform(df_minus)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [9]:
# 新特徵 + 邏輯斯迴歸
"""
Your Code Here
"""
train_X = MMEncoder.fit_transform(df)
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6903740601683743

> 沒有改善，反而下降，可能是Cabin特徵組內差異不大